@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "kalamehNum";
  src: url("./assets/fonts/KalamehWebFaNum-Regular.woff2");
  font-display: swap;
}

@layer components {
  .faNum {
    @apply font-kalamehNum;
  }
  .container {
    @apply px-[15px] mx-auto;
  }
  .rounded-default {
    @apply rounded-[5px];
  }
  .btn {
    @apply rounded-default px-5 border-[1px] transition duration-300;
  }
  .scrollbar--custom {
    @apply scrollbar-thin scrollbar-thumb-secondary scrollbar-track-primary scrollbar-track-rounded-md;
  }
}

html {
  direction: rtl;
  font-family: "Vazir";
  overflow-y: scroll;
}

body {
  background-color: #fdfdfd;
}
